.human-container
{
	display: flex;
	justify-content: space-between;
}

.human-text-fields
{
	width: 50%;
	margin-right:5%;
}

.photo-area
{
	width: 50%;
	text-align: center;
}

	.photo-area > div
	{
		width: 90%;
		height: 90%;
		border: solid 1px;
	}

	.photo-area img
	{
		object-fit:cover;
		min-width:300px;
		min-height:400px;
		width: 100%;
		height: 100%;
	}

.choose-photo
{
	width: 90%;
}
